@import "tailwindcss";
@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animate';

:root {
  --bg: #ffffff;
  --text: #000000;
}

[data-theme="dark"] {
  --bg: #000000;
  --text: #ffffff;
}

@theme {
    --color-text: var(--text);
}

.rounded {
    border-radius: 0;
}

a {
    @apply font-medium text-black transition-colors;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--font-custom);
}

.animate-entry {
    @apply animate-in slide-in-from-bottom-3 fade-in-5 duration-300;
}

pre,
code {
    padding: 0;
    margin: 0;
}