@import "tailwindcss";
@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animate';

@theme {
    --color-400: #FDCFFA;
    --color-300: #D78FEE;
    --color-200: #9B5DE0;
    --color-100: #4E56C0;
}


.rounded {
    border-radius: 0.8rem;
}

::selection {
    @apply bg-400/20;
}

a {
    @apply font-medium text-300 transition-colors hover:underline;
}

body {
    @apply bg-black text-100;
    font-family: var(--font-custom);
    background-color: linear-gradient(135deg, #050012, #0b0033, #001f4d);
}

.animate-entry {
    @apply animate-in slide-in-from-bottom-3 fade-in-5 duration-300;
}

pre,
code {
    padding: 0;
    margin: 0;
}

.blog-content li {
    @apply marker:text-400;
}