@import "tailwindcss";
@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animate';

:root {
  --bg: #ffffff;
  --text: #000000;
  --color-400: #e0e0e0;
  --color-300: #b0b0b0;
  --color-200: #808080;
  --color-100: #000000;
}

[data-theme="dark"] {
  --bg: #000000;
  --text: #ffffff;
  --color-400: #404040;
  --color-300: #606060;
  --color-200: #a0a0a0;
  --color-100: #ffffff;
}

@theme {
    --color-400: var(--color-400);
    --color-300: var(--color-300);
    --color-200: var(--color-200);
    --color-100: var(--color-100);
}

.rounded {
    border-radius: 0.8rem;
}

::selection {
    @apply bg-400/20;
}

a {
    @apply font-medium text-black transition-colors hover:underline;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--font-custom);
}

.animate-entry {
    @apply animate-in slide-in-from-bottom-3 fade-in-5 duration-300;
}

pre,
code {
    padding: 0;
    margin: 0;
}

.blog-content li {
    @apply marker:text-400;
}